.scroll-to-top:hover {
  background-color: #026838;
}


.cta-button {
  background-color: #027D42;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.cta-button:hover {
  background-color: rgba(2, 125, 66, 0.7);
}

.button-container {
  display: flex;
  justify-content: center; /* center the button horizontally */
  margin: 2rem 0; /* space above and below */
  z-index: 1; /* ensure it sits above background, but under important overlays */
}

.book-now-btn {
  background-color: #027D42;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
  border: none;          /* Removes the default border */
  outline: none; 
}

.book-now-btn:hover {
  background-color: #026838;
}

.calendar {
  display: inline-block;
  margin-top: 10px;
 
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
    background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.important-info {
  max-width: 550px; /* Adjust based on your booking pass width */
  margin: 2rem auto 4rem auto;
  padding: 0 1rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: left;
}

.important-info h2 {
  font-size: 0.9rem;
  color: #027D42;
  border-bottom: 2px solid #027D42;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: left;
}

.important-info ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 0.65rem;
  line-height: 1.4;
}

.important-info li {
  margin-bottom: 0.6rem;
}



.calendar table {
  border-collapse: collapse;
  width: 100%;
}

.calendar th,
.calendar td {
  width: 60px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  opacity: 0.6;
}

.available {
  background-color: #027D42;
  color: white;
}

.unavailable {
  background-color: #8C4F2F;
  color: white;
  cursor: not-allowed;
}

.available:hover {
  opacity: 1;
}

.selected {
  opacity: 1 !important;
  font-weight: bold;
  box-shadow: inset 0 0 0 2px #000;
}

.timeslots {
  margin-top: 20px;
  display: none;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.timeslot {
  display: inline-block;
  width: 100px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
}

.timeslot.available {
  background-color: #027D42;
}

.timeslot.unavailable {
  background-color: #8C4F2F;
  cursor: not-allowed;
}

.timeslot.available:hover {
  opacity: 1;
}

.timeslot.selected {
  opacity: 1 !important;
  font-weight: bold;
  box-shadow: inset 0 0 0 0.5px #000;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.key {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: middle;
  border: 0.5px solid #000;
  opacity: 0.6;
}

.key.available {
  background-color: #027D42;
}

.key.unavailable {
  background-color: #8C4F2F;
}

.key.selected {
  background-color: #027D42;
  opacity: 1;
  box-shadow: inset 0 0 0 0.5px #000;
}

.booking-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  width: 100%;
  font-size: clamp(0.65rem, 1.5vw, 0.9rem);
  padding: 1rem;
  border: 1px solid #ddd; /* light gray border */
  border-radius: 8px;
  background-color: #fff; /* Optional: ensures a white background */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); /* Optional soft shadow */
}


.booking-pass {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.title-price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #333;
  flex-wrap: wrap;
}

.title-price .price {
  color: #2e7d32; /* green */
  font-weight: bold;
}

.pass-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.quantity-input {
  width: 50px;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.2rem 0;
  background: transparent;
  text-align: center;
}

.quantity-input:focus {
  outline: none;
  border-bottom: 1px solid #2e7d32;
}

.extra-info {
  font-size: 0.75em;
  color: #888;
  padding-left: 1rem;
  flex: 1;
  text-align: left;
}


.main-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
 
}

.left-column, .right-column {
  flex: 1;
  min-width: 200px;
  background-color: #fdfdfd;
  padding: 0.5rem;
  border-radius: 10px;
}

.booking-image {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center;
  gap: 1rem; /* Space between the images */
  margin-top: 1rem;
}

.booking-image img {
  width: 100%; /* Full width of the container */
  max-width: 500px; /* Optional: limit the image size */
  height: auto;
  object-fit: cover;
}

